body {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(226, 140, 28);
}

h1 {
  font-size: medium;
}

.graph {
  color: rgb(27, 16, 16);
}
