//PRIMARY COLORS
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$color-default: #fff;

//Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

//FONT
$font-secondary: "Rubik", sans-serif;

//SHADOW
$shadow: rgba(0, 0, 0, 0.248) 0rem 0.1rem 0.2rem;

//Transition
$transition: all ease-in 0.2s;

//MIXIN
@mixin alignItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 112.5%; //18px
}

body {
  font-family: $font-secondary;
  font-weight: 400;
  background-color: $color-default;
  color: $very-dark-blue;
  line-height: 1.3;
  max-width: 100%;
}

//HEADER
.header {
  padding: 0 Min(10vw, 7rem);
  margin: 2.5rem 0;
}

//SUB-HEADER
.subHeader {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__primary {
    max-width: 50%;
    align-self: center;

    & h1 {
      //font-size: 4vw;
      font-size: calc(#{1rem} + 1.5vw);
      max-width: 27rem;
      margin-bottom: 1rem;
    }

    & p {
      font-size: calc(#{0.5rem} + 0.7vw); //0.9rem;
      color: $grayish-blue;
      max-width: 28rem;
      margin-bottom: 1rem;
    }

    .subHeader-btns {
      display: flex;
      width: 16.4rem;
      height: 1.9rem;
      justify-content: space-between;
    }

    .btn {
      padding: 0 1rem;
      font-family: inherit;
      border: none;
      text-align: center;
      border-radius: 0.2rem;
      box-shadow: $shadow;
      cursor: pointer;

      &:first-child {
        background-color: $soft-blue;
        color: $color-default;
        transition: $transition;

        &:hover {
          background-color: $color-default;
          color: $soft-blue;
          border: 2px solid $soft-blue;
        }
      }

      &:last-child {
        background-color: $color-default;
        color: $grayish-blue;
        transition: $transition;

        &:hover {
          color: $grayish-blue;
          border: 2px solid $grayish-blue;
        }
      }
    }
  }

  &__img {
    max-width: 50%;
    margin-right: -2.5rem;
    //flex: 0 1 100%;

    & img {
      display: block;
      height: auto;
      //width: 30rem;
      width: 105%;
      //margin-right: -.5rem;
    }
  }
}

//NAVIGATION
.nav {
  display: flex;
  height: 1.7rem;
  justify-content: space-between;

  &__logo {
    height: 25px;
    align-self: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex: 0 0 25rem;
    list-style-type: none;

    li {
      flex: 0 1 22%;

      &:last-child a {
        background-color: $soft-red;
        border-radius: 0.2rem;
        border: none;
        color: $color-default;
        box-shadow: $shadow;
        transition: $transition;

        &:hover {
          background-color: $color-default;
          border: 2px solid $soft-red;
          color: $soft-red;
        }
      }

      &:not(:last-child) a:hover {
        color: $soft-red;
      }

      a {
        display: block;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        text-decoration: none;
        //background-color: $soft-red;
        padding: 0.4rem 0.5rem;
        text-align: center;
      }
    }
  }
}

//MAIN
.main {
  padding: 0 Min(10vw, 7rem);
}

//Sub-heading
.secondary-heading {
  width: 70%;
  @include alignItems(); //Aligns items horizontally along cross axis

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    font-size: calc(#{0.5rem} + 0.7vw);
    color: $grayish-blue;
    max-width: 29rem;
  }
}

//FEATURES SECTION
.section {
  @include alignItems(); //Aligns items horizontally along cross axis
  margin: 6rem 0;
}

.btn-group {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid $grayish-blue;

  .features-btn {
    border: none;
    padding: 1.5rem 0;
    flex: 0 1 12rem;
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: 400;
    align-self: auto;
    background-color: $color-default;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    color: $grayish-blue;

    &:hover {
      color: $soft-red;
    }

    &--active {
      color: $very-dark-blue;
      border-bottom: 3px solid $soft-red;
    }
  }
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &-img {
    flex: 0 0 46%;

    & img {
      width: 100%;
    }
  }

  &-description {
    flex: 0 0 43%;
    align-self: center;

    h3 {
      font-size: calc(#{0.6rem} + 1.2vw);
      margin-bottom: 1rem;
    }

    p {
      font-size: calc(#{0.5rem} + 0.7vw);
      color: $grayish-blue;
      //max-width: 25rem;
      margin-bottom: 1rem;
    }
  }
}

//DOWNLOAD SECTION
.downloader {
  margin-top: 3rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;

  .download-content {
    height: 20rem;
    background-color: aqua;
  }
}

//REusable button
.btn-small {
  border: none;
  background-color: $soft-blue;
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  font-family: inherit;
  color: $color-default;
  border-radius: 0.2rem;
}
